# Rename the BRCM RNICs
SUBSYSTEM=="net", ACTION=="add", ATTR{address}=="00:0a:f7:b7:3a:00", NAME="brcm0p1"
SUBSYSTEM=="net", ACTION=="add", ATTR{address}=="00:0a:f7:b7:3a:01", NAME="brcm0p2"
SUBSYSTEM=="net", ACTION=="add", ATTR{address}=="00:0a:f7:b7:3b:40", NAME="brcm1p1"
SUBSYSTEM=="net", ACTION=="add", ATTR{address}=="00:0a:f7:b7:3b:41", NAME="brcm1p2"
# Rename the Mellanox RNICS
SUBSYSTEM=="net", ACTION=="add", ATTR{address}=="ec:0d:9a:6e:2d:78", NAME="mlx0p1"
SUBSYSTEM=="net", ACTION=="add", ATTR{address}=="ec:0d:9a:6e:2e:ec", NAME="mlx1p1"
# Rule for the uverb device files
KERNEL=="uverbs*", NAME="infiniband/%k"
